@model TestingAndLogging.Models.Fibonacci
@{
    ViewData["Title"] = "Fibonacci";
}

<div class="container">
    <div class="row justify-content-center mt-5">

                                  @*fix IIS and linter issues so you are not using html to style the page*@
            <div class="card p-3" style="background-color: #ADE1FA;">
                <div class="card-body justifiy-content-center">
                    <p class="form-group">Enter number of Entries</p>
                    <form class="form-check-inline" asp-controller="Home" asp-action="Fibonacci">
                        <input type="number" asp-for="Input" placeholder="Entries" />
                        <button type="submit" class="btn btn-primary ml-1">Submit</button>
                    </form>
                </div>

            </div>
    </div>

    <div class="row mt-5">
        <div class="offset-1 col-10">
            <table class="table table-striped justifiy-content-center" style="background-color: #ADE1FA;">
                <thead>
                    <tr><th colspan="5">Fibonacci Series Results</th></tr>
                </thead>

                <tbody>
                    @for (int row = 0; row * 5 < Model.Output.Count; row++)
                    {
                        <tr>
                            @for (int col = 0; col < 5 && row * 5 + col < Model.Output.Count; col++)
                            {
                                <td>@Model.Output[row * 5 + col]</td>
                            }
                        </tr>
                    }
                </tbody>
              
            </table>
        </div>
    </div>
