@model TestingAndLogging.Models.Fibonacci 
@{
    ViewData["Title"] = "Fibonacci";
}

<div class="container">
    <div class="row">
        <div class="offset-1 col-10">


            <div class="card bg-primary justifiy-content-center">
                <p id="white-text" class="form-group">Enter number of Entries</p>
                <form class="form-group" asp-controller="Home" asp-action="Fibonacci">
                    <input type="number" asp-for="Input" placeholder="Entries" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <br />

                <table class="table table-striped justifiy-content-center" style="background-color: steelblue;">
                    <thead>
                        <tr><th colspan="5">Fibonacci Series Results</th></tr>
                    </thead>
                    <tBody>
                        <tr>
                            @for (int i = 0; i < Model.Output.Count; i++)
                            {
                                <td>@Model.Output[i].ToString()</td>
                            }
                        </tr>
                    </tBody>
                </table>
            </div>


        </div>
    </div>
</div>
    