@model Pythagorean 
@{
    ViewData["Title"] = "Pythagorean";
}

<div class="row">
    <div class="offset-2 col-8">

                                              @*fix IIS and linter issues so you are not using html to style the page*@
        <div class="card blue-background p-4" style="background-color: #ADE1FA;">
            <form asp-controller="Home" asp-action="Pythagorean">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InputA" class="control-label">Enter A</label>
                    <input asp-for="InputA" class="form-control" />
                    <span asp-validation-for="InputA" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="InputB" class="control-label">Enter B</label>
                    <input asp-for="InputB" class="form-control" />
                    <span asp-validation-for="InputB" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <br />

                <div class="row justify-content-center">
                    @if (Model.InputA == 0 && Model.InputB == 0)
                    {
                        <p>  A² + B² = C²  </p>
                    }
                    else
                    {
                        <p> (@Model.InputA)² + (@Model.InputB)²  =  @Model.OutputC</p>
                    }
                </div>

            </form>
        </div>
    </div>
</div>


