@model StandardDeviation 
@{
    ViewData["Title"] = "StandardDeviation";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="offset-2 col-8">

        <p class="justify-content-center">Please provide numbers separated by commas to calculate the standard deviation</p>

                              @*fix IIS and linter issues so you are not using html to style the page*@
        <div class="card p-3" style="background-color: #ADE1FA;">
            <form class="p-xl-5" asp-controller="Home" asp-action="StandardDeviation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <textarea asp-for="InputString" class="form-control" placeholder="Enter numbers separated by commas"></textarea>
                    <span asp-validation-for="InputString" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <br />

                <div class="row justify-content-center">

                    <p> @Model.Output </p>

                </div>
            </form>
        </div>
    </div>
</div>



